.Card {
    display: flex;
    width: 610px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.Indicators {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainInfo {
    max-width: 180px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.MainInfo-Title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MainInfo-Current {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-top: 15px;
}

.MainInfo-Previous {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.MainInfo-Label {
    margin-left: 10px;
}

.AdditionalInfo {
    display: flex;
    flex-direction: column;
    margin-left: 85px;
}

.AdditionalInfo-HelpLinks {
    display: flex;
    flex-direction: row;
}

.AdditionalInfo-HelpLinks-Item {
    margin-left: 2px;
}